{% extends 'base.html.twig' %}

{% block title %}Mey's Ongles - Nos Produits{% endblock %}

{% block content %}

	<div class="class-row">
		<div class="col-md-12">
			<h3>filtrer</h3>
			{{ form(form)}}
		</div>
		<div class="col-md-12">
			<h3>Nos Produit</h3>
			<div class="row product-contener">
				{% for product in products %}
					<div class="col-md-4">
						{% include 'product/single_product.html.twig'  %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}

