{% extends 'base.html.twig' %}

{% block title %}Prise de Rdv - Mey's Ongles{% endblock %}

{% block content %}
<h1>Prise de rendez-vous</h1>
	{% if notification %}
		<div class="alert alert-info">
			{{notification}}
            <hr>
		</div>
	{% endif %}

	Formulaire prise de rendez-vous
	{{ form(form)}}
{% endblock %}
